<ul>
    <li>
        Comment: <%= comment.body %>
    </li>
    <li>
        By: <%= comment.author.email %>
    </li>
    <li>
        Created at: <%= comment.created_at %>
    </li>
<%= link_to "View comment", comment_path(comment.id) %>

<%= render partial: "comments/comment", collection: comment.comments %>

</ul>